html,
body,
.ng-scope {
  height: 100%;
}
/**
* Mixins
*/
.centered-element {
  display: block;
  margin: 0px auto;
}
.center-transform {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.back_load {
  opacity: 0.3;
  pointer-events: none;
}
.upload_image {
  background: url('/img/hourglass.svg') no-repeat;
  background-position: 50% 50%;
}
.done_upload {
  background: url('/img/approved.png') no-repeat;
  background-position: 50% 50%;
}
#wrapper {
  height: 100%;
  width: auto;
}
#wrapper .view {
  float: left;
  width: 80%;
}
@media screen and (max-width: 480px) {
  #wrapper .view {
    width: 100%;
  }
}
/**
* Gallery Aside
*/
.main-sidebar {
  background: #000;
  display: block;
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .main-sidebar {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .main-sidebar {
    width: 30%;
  }
}
.person_face {
  padding-top: 12%;
  display: block;
  margin: 0px auto;
}
.person_face img {
  border-radius: 50%;
  width: 50%;
  border: 2px solid grey;
  display: block;
  margin: 0px auto;
}
.person_face p {
  text-align: center;
  color: blue;
  font-family: sans-serif;
}
/*
* Sidebar
*/
.sidebar {
  padding-top: 20px;
}
.sidebar h2 {
  text-align: center;
}
.sidebar ul {
  margin-top: 20px;
  list-style: none;
  padding: 0px;
}
.sidebar ul li {
  text-align: center;
  padding-bottom: 15px;
  cursor: pointer;
}
#menu-toggle {
  float: left;
  margin-left: 5%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
/**
* Main
*/
main {
  float: left;
  width: 80%;
}
.welcome {
  position: relative;
  top: 40px;
  text-align: center;
}
/**
* Gallery Header
*/
header {
  width: 100%;
  border-bottom: 1px solid #eee;
  position: relative;
}
header .page-header {
  margin: 0px;
  border-bottom: 0px;
}
header h1 {
  text-align: center;
  font-family: serif;
  margin-top: 0px;
  padding-top: 10px;
}
header .login {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  position: absolute;
}
.gallery-container {
  width: 90%;
  padding-top: 10px;
  display: block;
  margin: 0px auto;
}
.picture-frame {
  cursor: pointer;
  height: auto;
}
.picture-frame a {
  pointer-events: none;
}
/**
* Picture Panel Page
*/
.portfolio {
  top: 50px;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
@media only screen and (min-width: 961px) {
  .portfolio {
    width: 50%;
    height: 40%;
  }
}
.portfolio img {
  width: 100%;
}
.picture-actions {
  display: block;
  position: relative;
  top: 20px;
  text-align: center;
}
.picture-actions button {
  display: inline;
  width: 30%;
}
@media only screen and (max-width: 480px) {
  .picture-actions button {
    display: block;
    margin-bottom: 10px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 60%;
  }
}
/**
* Login form
*/
.login-form {
  position: relative;
  top: 15%;
}
.main-sidebar .upload_li {
  margin-top: 10px;
  color: darkgoldenrod;
}
/*
* Upload Page
*/
.upload {
  top: 50px;
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.upload .send {
  margin-top: 15px;
}
.upload .group {
  padding-top: 5px;
}
.image_transaction {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: 100%;
}
.image_transaction img {
  display: block;
  margin: 0 auto;
}
/**
* Modal
*/
