html, body, .ng-scope {
  height: 100%;
}


/**
* Mixins
*/
.centered-element {
  display: block;
  margin: 0px auto;
}

.center-transform {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.back_load {
  opacity: 0.3;
  pointer-events: none;
}
.upload_image {
  background: url('/img/hourglass.svg') no-repeat;
  background-position: 50% 50%;
}

.done_upload {
  background: url('/img/approved.png') no-repeat;
  background-position: 50% 50%;
}

#wrapper {
  height: 100%;
  width:auto;
  .view {
    float: left;
    width: 80%;

    @media screen and (max-width: 480px) {
      width: 100%;
      //height:auto;
    }
  }
}

/**
* Gallery Aside
*/
.main-sidebar {
  background: #000;
  display: block;
  position: relative;
  float:left;
  width:20%;
  height:100%;
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 480px) {
    width:30%;
  }
}

.person_face {
  padding-top: 12%;
  .centered-element;

  img {
    border-radius: 50%;
    width: 50%;
    border: 2px solid grey;
    .centered-element;
  }

  p {
    text-align: center;
    color:blue;
    font-family: sans-serif;
  }

}

/*
* Sidebar
*/
.sidebar {
  padding-top: 20px;

  h2 {
    text-align: center;
  }
  ul {
    margin-top: 20px;
    list-style: none;
    padding: 0px;
    li {
      text-align: center;
      padding-bottom: 15px;
      cursor: pointer;
    }
  }
}

#menu-toggle {
  float:left;
  margin-left: 5%;
  .vertical-align;
  position: absolute;
}

/**
* Main
*/
main {
  float:left;
  width:80%;
}
.welcome {
  position: relative;
  top: 40px;
  text-align: center;

}

/**
* Gallery Header
*/
header {
  width: 100%;
  border-bottom: 1px solid #eee;
  position: relative;
  .page-header {
    margin:0px;
    border-bottom: 0px;
  }

  h1 {
    text-align: center;
    font-family: serif;
    margin-top: 0px;
    padding-top: 10px;
  }
  .login {
    .vertical-align;
    right: 2%;
    position: absolute;
  }
}


.gallery-container {
  width: 90%;
  padding-top: 10px;
  .centered-element;

}
.picture-frame {
  cursor: pointer;
  height: auto;
  a {
    pointer-events: none;
  }

}

/**
* Picture Panel Page
*/
.portfolio {
  top: 50px;
  position: relative;
  width: 80%;
  margin: 0 auto;

  //on desktop size, shrink image
  @media only screen and (min-width:961px) {
    width: 50%;
    height: 40%;
  }
  img {
    width: 100%;
  }
}
.picture-actions {
  display: block;
  position: relative;
  top: 20px;
  text-align: center;

  button {
    display: inline;
    width:30%;
    @media only screen and (max-width: 480px) {
      display: block;
      margin-bottom: 10px;
      .center-transform;
      width: 60%;
    }
  }
}


/**
* Login form
*/
.login-form {
  position: relative;
  top: 15%;
}

.main-sidebar .upload_li {
  margin-top: 10px;
  color: darkgoldenrod;
}

/*
* Upload Page
*/
.upload  {
  top: 50px;
  position: relative;
  width: 80%;
  margin: 0 auto;

  .send {
    margin-top: 15px;
  }

  .group {
    padding-top: 5px;
  }
}

.image_transaction {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  //height:auto;

  width: 100%;
  img {
    display: block;
    margin: 0 auto;
  }
}

/**
* Modal
*/

