<!--Portfolif Panel -->
<div class="portfolio">
	<img class="thumbnail" ng-src={{picture.src}}>
	<!--Actions ToolBelt -->
	<section class="picture-actions">
		<!-- Indicates a successful or positive action -->
		<button type = "button" class = "btn btn-success">Edit</button>
		<!-- Indicates a successful or positive action -->
		<button type = "button" class = "btn btn-success">Delete</button>
		<!-- Indicates a successful or positive action -->
		<button type = "button" class = "btn btn-success">Replace</button>

	</section>
</div>